.card-title{ font-family: 'Roboto';
    font-style:ligth;
    font-size: 15pt;
    font-weight: 300;
    color:#212529;

}

.card-text1{ font-family: 'Roboto';
    font-style:ligth;
    font-size: 13pt;
    font-weight: 300;
    color:#707070;
    margin-bottom: auto;
}

.card-text2{ font-family: 'Roboto';
        font-style:ligth;
        font-size: 11pt;
        font-weight: 300;
        color:#707070;
}


.card-texto-end{ font-size: "30pt";
                 color:" blue";

}

.plomo{
    color:#707070;
}



.derechos{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: 'Roboto';
    font-style:ligth;
    font-size: 13pt;
    font-weight: 300;
    color:#707070;
    margin-bottom: 4%;
}

.logo
    {
        width: 70px; /* ajusta el ancho de la imagen según tu preferencia */
        height: auto;             
        max-height:70px;


    }
.logo1 
    {
        /*display:flex;*/
        width: 70px; /* ajusta el ancho de la imagen según tu preferencia */
        height: auto;             
        max-height:70px;
        padding-bottom: 20px;
    }
.formulario{ /* dejare el margen ocupando toda la pagina al menos eso comprendi de la maqueta pero estan comentadas si hay que cambiar los margenes*/
    margin-top: 50px;
    /*margin-left: 20%;
    margin-right: 20%;*/

}